
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Poppins:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');


body {
  background: #fff;
  color: #444;
  font-family: 'Poppins', sans-serif;
}

a {
  color: #007bff;
  transition: 0.5s;
}

a:hover,
a:active,
a:focus {
  color: #0b6bd3;
  outline: none;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0 0 30px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
}

/* Back to top button */

.back-to-top {
  position: fixed;
  display: none;
  background: #007bff;
  color: #fff;
  width: 44px;
  height: 44px;
  text-align: center;
  line-height: 1;
  font-size: 16px;
  border-radius: 50%;
  right: 15px;
  bottom: 15px;
  transition: background 0.5s;
  z-index: 11;
}

.back-to-top i {
  padding-top: 12px;
  color: #fff;
}

/* Prelaoder */

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #f2f2f2;
  border-top: 6px solid #007bff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.sponsor-premium {
  width: auto;
  height: 60px;
  background: #2cc81c;
}
.sponsor-premium h1 {
  font-size: 16px;
  color: white;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  padding-top: 15px;
  margin-top: 70px;
} 
.sponsor-premium a {
  text-decoration: none;
  color: cyan;
  margin-right: 10px;
}
.sponsor-premium button {
  float: right;
  padding-bottom: 10px;
}

#estudiar-online .header-online h1 {
  font-size: 35px;
  color: black;
  font-weight: bold;
  text-align: center;
}
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

#header {
  height: 80px;
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
  padding: 20px 0;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.3);
}

#header_2 {
  height: 100px;
  width: 40%;
  text-align: center;
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
  padding: 20px 0;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.3);
}

#header.header-scrolled,
#header.header-pages {
  height: 60px;
  padding: 10px 0;
}

#header .logo h1 {
  font-size: 36px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
}

#header .logo h1 a,
#header .logo h1 a:hover {
  color: #00366f;
  text-decoration: none;
}

#header .logo img {
  padding: 0;
  margin: 7px 0;
  max-height: 26px;
}

#header .logo_2 img {
  height: 70px;
  width: 90px;
  margin-left: 10px;
}
#header .logo_2 h2 {
  font-weight: 700;

}

.main-pages {
  margin-top: 60px;
}

/*--------------------------------------------------------------
# Intro Section
--------------------------------------------------------------*/

#intro {
  width: 100%;
  position: relative;
  background: #2a3b47;
  --background-alt: #22303a;
  background: URL('https://www.imaginefactory.com/wp-content/uploads/2017/04/SPACES_BG-2.jpg');
  background-size: cover;
  padding: 100px 0 120px 0;
  
}

#intro .intro-img {
  width: 400px;
  height: 300px;
  float: right;
}

#intro .intro-header h1 {
  font-size: 45px;
  color: white;
  text-align: center;
}

#intro .intro-header {
  font-size: px;
  color: white;
  text-align: center;
}
#intro .intro-info {
  width: 50%;
}

#intro .intro-info h2 {
  color: #fff;
  margin-bottom: 20px;
  font-size: 50px;
  font-weight: 700;
}

#intro .intro-info h1 {
  color: #fff;
  margin-bottom: 20px;
  font-size: 15px;
}

#intro .intro-info span {
  color: #74b5fc;
}

#intro .intro-info .btn-get-started,
#intro .intro-info .btn-services {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 32px;
  border-radius: 20px;
  transition: 0.5s;
  margin: 0 20px 20px 0;
  color: #fff;
}

#intro .intro-info .btn-get-started {
  background: #007bff;
  border: 2px solid #007bff;
  color: #fff;
}

#intro .intro-info .btn-get-started:hover {
  background: none;
  border-color: #fff;
  color: #fff;
}

#intro .intro-info .btn-services {
  border: 2px solid #fff;
}

#intro .intro-info .btn-services:hover {
  background: #007bff;
  border-color: #007bff;
  color: #fff;
}

/*--------------------------------------------------------------
# Intro Section 2
--------------------------------------------------------------*/

#intro-curso {
  width: 100%;
  position: relative;
  background: URL('https://cdneddukate.000webhostapp.com/bg_page/beautiful-color-ui-gradients-backgrounds-scooter.png');
  background-size: cover;
  padding: 100px 0 120px 0;
}

#intro-curso .intro-img {
  width: 555px;
  float: right;
}

#intro-curso .intro-header h1 {
  font-size: 40px;
  color: white;
  text-align: left;
  font-weight: bold;

}

#intro-curso .intro-header {
  font-size: 20px;
  color: white;
  text-align: left;
}
#intro-curso .intro-info {
  width: 50%;
  margin: auto;
}

#intro-curso .intro-info h2 {
  color: #fff;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 700;
}

#intro-curso .intro-info h1 {
  color: #fff;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 700;
}

#intro-curso .intro-info span {
  color: #74b5fc;
}

#intro-curso .intro-info .btn-get-started,
#intro-curso .intro-info .btn-services {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 32px;
  border-radius: 20px;
  transition: 0.5s;
  color: #fff;
}

#intro-curso .intro-info .btn-get-started {
  background: #007bff;
  border: 2px solid #007bff;
  color: #fff;
}

#intro-curso .intro-info .btn-get-started:hover {
  background: none;
  border-color: #fff;
  color: #fff;
}

#intro-curso .intro-info .btn-services {
  border: 2px solid #fff;
}

#intro-curso .intro-info .btn-services:hover {
  background: #007bff;
  border-color: #007bff;
  color: #fff;
}
#intro-curso .intro-header label {
  color: white;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
}

/*--------------------------------------------------------------
# Intro Servicios
--------------------------------------------------------------*/

#intro-servicios {
  width: 100%;
  position: relative;
  background: #141E30;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 100px 0 50px 0;
  
}

#intro-servicios .intro-img {
  width: 400px;
  height: 300px;
  float: right;
}

#intro-servicios .intro-header h1 {
  font-size: 45px;
  color: white;
  text-align: center;
}

#intro-servicios .intro-header {
  font-size: px;
  color: white;
  text-align: center;
}
#intro-servicios .intro-info {
  width: 50%;
}

#intro-servicios .intro-info h2 {
  color: #fff;
  margin-bottom: 20px;
  font-size: 50px;
  font-weight: 700;
}

#intro-servicios .intro-info h1 {
  color: #fff;
  margin-bottom: 20px;
  font-size: 15px;
}

#intro-servicios .intro-info span {
  color: #74b5fc;
}

#intro-servicios .intro-info .btn-get-started,
#intro-servicios .intro-info .btn-services {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 32px;
  border-radius: 20px;
  transition: 0.5s;
  margin: 0 20px 20px 0;
  color: #fff;
}

#intro-servicios .intro-info .btn-get-started {
  background: #007bff;
  border: 2px solid #007bff;
  color: #fff;
}

#intro-servicios .intro-info .btn-get-started:hover {
  background: none;
  border-color: #fff;
  color: #fff;
}

#intro-servicios .intro-info .btn-services {
  border: 2px solid #fff;
}

#intro-servicios .intro-info .btn-services:hover {
  background: #007bff;
  border-color: #007bff;
  color: #fff;
}


#temario-curso .header-temario h1 {
  font-size: 20px;
  color: black;
  font-weight: bold;
  text-align: right;
}
#temario-curso .header-temario {
  width: 500px;
  height: 200px;
  margin-left: 60px;
  border-radius: 20px;
  background: white;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.3);
}
#temario-curso h2{
  color: var(--dark-color);
  font-weight: 600;
  padding-top: 10px;
  text-align: center;
}

#temario-curso li {
  font-size: 20px;  
  margin-left: 50px;
}
#temario-curso span {
  text-align: center;
}

#temario-curso .level-temario {
  width: 500px;
  height: 200px;
  margin-bottom: 500px;
  border-radius: 20px;
  background: white;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.3);
  display: none;
}
/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Nuevos cursos
--------------------------------------------------------------*/

#nuevos-cursos .cursos-header h1 {
  font-size: 35px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  color: black;
  text-align: center;
}

#nuevos-cursos .cursos-header p {
  font-size: 15px;
  color: black;
  text-align: center;
}

#nuevos-cursos .nuevos-cursos-publicados {
  width: 420px;
  height: 100px;
  background: white;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.3);
  margin: auto;
  border-radius: 20px;
}
#nuevos-cursos .nuevos-cursos-publicados h1 {
  font-size: 20px;
  color: black;
  font-weight: bold;
  padding-top: 20px;
}

#nuevos-cursos .nuevos-cursos-publicados label{
  font-weight: 600;
  color: black; 
  padding-bottom: 5px;
}
#nuevos-cursos .nuevos-cursos-publicados img {
  float: left;
  width: 100px;
  height: 50%;
}
#nuevos-cursos .next-curso {
  webkit-border-radius: 0.25rem;
  border-radius: 0.25rem;
  -webkit-box-shadow: 0 1px 8px 0 rgba(0,0,0,0.08);
  box-shadow: 0 1px 10px 0 rgba(0,0,0,0.08);
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  min-height: 30px;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  padding: 20px 12px;
  padding-top: auto;
  margin-bottom: 10px;
  position: relative;
  margin: auto;
  width: 400px;
  border-radius: 10px;
  background:  #ffff  ;
}
#nuevos-cursos .next-curso img {
  width: 60px;
  height: 60px;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  margin-top: 13px;
}
#nuevos-cursos .next-curso p {
  color: black;
  font-size: 10px;
  position: relative;
  font-weight: 700;
}
#nuevos-cursos .next-curso span {
  font-size: 15px;
  position: absolute;
  margin-bottom: 100px;
  float: center;
  font-weight: bold;
  
}
#nuevos-cursos .next-curso label {
  margin-left: 0.5rem;
-webkit-box-flex: 1;
-moz-box-flex: 1;
-o-box-flex: 1;
box-flex: 1;
-webkit-flex: 1;
-ms-flex: 1;
flex: 1;
text-align: left;
line-height: 1.19;
color: black;
font-weight: 600  ;
font-size: 18px;
}
#nuevos-cursos .card p img {
  width: 30px;
  border-radius: 50%;
}
#nuevos-cursos .carreras-cursos {
  margin: auto;
}

#nuevos-cursos .header-cursos h1{
  font-size: 30px;
  font-weight: bold;
  color: black;
  text-align: center;
  
}
/* Desktop Navigation */

.main-nav {
  /* Drop Down */
  /* Deep Drop Down */
}

.main-nav,
.main-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav > ul > li {
  position: relative;
  white-space: nowrap;
  float: left;
}

.main-nav a {
  display: block;
  position: relative;
  color: #004289;
  padding: 10px 15px;
  transition: 0.3s;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

.main-nav a:hover,
.main-nav .active > a,
.main-nav li:hover > a {
  color: #007bff;
  text-decoration: none;
}

.main-nav .drop-down ul {
  display: block;
  position: absolute;
  left: 0;
  top: calc(100% + 30px);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  padding: 10px 0;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: ease all 0.3s;
}

.main-nav .drop-down:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.main-nav .drop-down li {
  min-width: 180px;
  position: relative;
}

.main-nav .drop-down ul a {
  padding: 10px 20px;
  font-size: 13px;
  color: #004289;
}

.main-nav .drop-down ul a:hover,
.main-nav .drop-down ul .active > a,
.main-nav .drop-down ul li:hover > a {
  color: #007bff;
}

.main-nav .drop-down > a:after {
  content: "\f107";
  font-family: FontAwesome;
  padding-left: 10px;
}

.main-nav .drop-down .drop-down ul {
  top: 0;
  left: calc(100% - 30px);
}

.main-nav .drop-down .drop-down:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
}

.main-nav .drop-down .drop-down > a {
  padding-right: 35px;
}

.main-nav .drop-down .drop-down > a:after {
  content: "\f105";
  position: absolute;
  right: 15px;
}

/* Mobile Navigation */

.mobile-nav {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 9999;
  overflow-y: auto;
  left: -260px;
  width: 260px;
  padding-top: 18px;
  background: rgba(19, 39, 57, 0.8);
  transition: 0.4s;
}

.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-nav a {
  display: block;
  position: relative;
  color: #fff;
  padding: 10px 20px;
  font-weight: 500;
}

.mobile-nav a:hover,
.mobile-nav .active > a,
.mobile-nav li:hover > a {
  color: #74b5fc;
  text-decoration: none;
}

.mobile-nav .drop-down > a:after {
  content: "\f078";
  font-family: FontAwesome;
  padding-left: 10px;
  position: absolute;
  right: 15px;
}

.mobile-nav .active.drop-down > a:after {
  content: "\f077";
}

.mobile-nav .drop-down > a {
  padding-right: 35px;
}

.mobile-nav .drop-down ul {
  display: none;
  overflow: hidden;
}

.mobile-nav .drop-down li {
  padding-left: 20px;
}

.mobile-nav-toggle {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-toggle i {
  margin: 18px 18px 0 0;
  color: #004289;
}

.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(19, 39, 57, 0.8);
  overflow: hidden;
  display: none;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active .mobile-nav {
  left: 0;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #fff;
}

/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/

/* Sections Header
--------------------------------*/

.section-header h3 {
  font-size: 36px;
  color: #283d50;
  text-align: center;
  font-weight: 500;
  position: relative;
}

.section-header p {
  text-align: center;
  margin: auto;
  font-size: 15px;
  padding-bottom: 60px;
  color: #556877;
  width: 50%;
}

/* Section with background
--------------------------------*/

.section-bg {
  background: #ecf5ff;
}

/* About Us Section
--------------------------------*/

#about {
  background: #fff;
  padding: 60px 0;
}

#about .about-container .background {
  margin: 20px 0;
}

#about .about-container .content {
  background: #fff;
}

#about .about-container .title {
  color: #333;
  font-weight: 700;
  font-size: 32px;
}

#about .about-container p {
  line-height: 26px;
}

#about .about-container p:last-child {
  margin-bottom: 0;
}

#about .about-container .icon-box {
  background: #fff;
  background-size: cover;
  padding: 0 0 30px 0;
}

#about .about-container .icon-box .icon {
  float: left;
  background: #fff;
  width: 64px;
  height: 64px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  border-radius: 50%;
  border: 2px solid #007bff;
  transition: all 0.3s ease-in-out;
}

#about .about-container .icon-box .icon i {
  color: #007bff;
  font-size: 24px;
}

#about .about-container .icon-box:hover .icon {
  background: #007bff;
}

#about .about-container .icon-box:hover .icon i {
  color: #fff;
}

#about .about-container .icon-box .title {
  margin-left: 80px;
  font-weight: 600;
  margin-bottom: 5px;
  font-size: 18px;
}

#about .about-container .icon-box .title a {
  color: #283d50;
}

#about .about-container .icon-box .description {
  margin-left: 80px;
  line-height: 24px;
  font-size: 14px;
}

#about .about-extra {
  padding-top: 60px;
}

#about .about-extra h4 {
  font-weight: 600;
  font-size: 24px;
}

/* Services Section
--------------------------------*/

#services {
  padding: 60px 0 40px 0;
  box-shadow: inset 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
  height: 250px;
  background: rgb(34,193,195);
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(45,142,253,1) 100%);
  color: white;
}


#services .box {
  padding: 30px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  margin: 0 10px 40px 10px;
  background: #fff;
  box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
  transition: all 0.3s ease-in-out;
}

#services .box:hover {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}

#services .icon {
  position: absolute;
  left: -10px;
  top: calc(50% - 32px);
}

#services .icon i {
  font-size: 64px;
  line-height: 1;
  transition: 0.5s;
}

#services .title {
  margin-left: 40px;
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}

#services .title a {
  color: white;
}

#services .box:hover .title a {
  color: #007bff;
}

#services .description {
  font-size: 14px;
  margin-left: 40px;
  line-height: 24px;
  margin-bottom: 0;
}

#services .container h3 {
  margin-top: 26px;
}

#why-us {
  padding: 60px 0;
  background: #004a99;
}

#why-us .section-header h3,
#why-us .section-header p {
  color: #fff;
}

#why-us .card {
  background: #00458f;
  border-color: #00458f;
  border-radius: 10px;
  margin: 0 15px;
  padding: 15px 0;
  text-align: center;
  color: #fff;
  transition: 0.3s ease-in-out;
  height: 100%;
}

#why-us .card:hover {
  background: #003b7a;
  border-color: #003b7a;
}

#why-us .card i {
  font-size: 48px;
  padding-top: 15px;
  color: #bfddfe;
}

#why-us .card h5 {
  font-size: 22px;
  font-weight: 600;
}

#why-us .card p {
  font-size: 15px;
  color: #d8eafe;
}

#why-us .card .readmore {
  color: #fff;
  font-weight: 600;
  display: inline-block;
  transition: 0.3s ease-in-out;
  border-bottom: #00458f solid 2px;
}

#why-us .card .readmore:hover {
  border-bottom: #fff solid 2px;
}

#why-us .counters {
  padding-top: 40px;
}

#why-us .counters span {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 48px;
  display: block;
  color: #fff;
}

#why-us .counters p {
  padding: 0;
  margin: 0 0 20px 0;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  color: #cce5ff;
}

/* Portfolio Section
--------------------------------*/

#portfolio {
  padding: 60px 0;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
}

#portfolio #portfolio-flters {
  padding: 0;
  margin: 5px 0 35px 0;
  list-style: none;
  text-align: center;
}

#portfolio #portfolio-flters li {
  cursor: pointer;
  margin: 15px 15px 15px 0;
  display: inline-block;
  padding: 6px 20px;
  font-size: 12px;
  line-height: 20px;
  color: #007bff;
  border-radius: 50px;
  text-transform: uppercase;
  background: #ecf5ff;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
}

#portfolio #portfolio-flters li:hover,
#portfolio #portfolio-flters li.filter-active {
  background: #007bff;
  color: #fff;
}

#portfolio #portfolio-flters li:last-child {
  margin-right: 0;
}

#portfolio .portfolio-item {
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
}

#portfolio .portfolio-item .portfolio-wrap {
  overflow: hidden;
  position: relative;
  border-radius: 6px;
  margin: 0;
}

#portfolio .portfolio-item .portfolio-wrap:hover img {
  opacity: 0.4;
  transition: 0.3s;
}

#portfolio .portfolio-item .portfolio-wrap .portfolio-info {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  opacity: 0;
  transition: 0.2s linear;
}

#portfolio .portfolio-item .portfolio-wrap .portfolio-info h4 {
  font-size: 22px;
  line-height: 1px;
  font-weight: 700;
  margin-bottom: 14px;
  padding-bottom: 0;
}

#portfolio .portfolio-item .portfolio-wrap .portfolio-info h4 a {
  color: #fff;
}

#portfolio .portfolio-item .portfolio-wrap .portfolio-info h4 a:hover {
  color: #007bff;
}

#portfolio .portfolio-item .portfolio-wrap .portfolio-info p {
  padding: 0;
  margin: 0;
  color: #e2effe;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
}

#portfolio .portfolio-item .portfolio-wrap .portfolio-info .link-preview,
#portfolio .portfolio-item .portfolio-wrap .portfolio-info .link-details {
  display: inline-block;
  line-height: 1;
  text-align: center;
  width: 36px;
  height: 36px;
  background: #007bff;
  border-radius: 50%;
  margin: 10px 4px 0 4px;
}

#portfolio .portfolio-item .portfolio-wrap .portfolio-info .link-preview i,
#portfolio .portfolio-item .portfolio-wrap .portfolio-info .link-details i {
  padding-top: 6px;
  font-size: 22px;
  color: #fff;
}

#portfolio .portfolio-item .portfolio-wrap .portfolio-info .link-preview:hover,
#portfolio .portfolio-item .portfolio-wrap .portfolio-info .link-details:hover {
  background: #3395ff;
}

#portfolio .portfolio-item .portfolio-wrap .portfolio-info .link-preview:hover i,
#portfolio .portfolio-item .portfolio-wrap .portfolio-info .link-details:hover i {
  color: #fff;
}

#portfolio .portfolio-item .portfolio-wrap:hover {
  background: #003166;
}

#portfolio .portfolio-item .portfolio-wrap:hover .portfolio-info {
  opacity: 1;
}

/* Testimonials Section
--------------------------------*/

#testimonials {
  padding: 40px 0;
  box-shadow: inset 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
}

#testimonials .section-header {
  margin-bottom: 30px;
}

#testimonials .testimonial-item .testimonial-img {
  width: 100px;
  border-radius: 50%;
  float: left;
}

#testimonials .testimonial-item h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: #111;
  margin-left: 140px;
}

#testimonials .testimonial-item h4 {
  font-size: 14px;
  color: #999;
  margin: 0 0 15px 0;
  margin-left: 140px;
}

#testimonials .testimonial-item p {
  font-style: italic;
  font-size: 21px;
  margin: 0 0 15px 140px;
}

#testimonials .owl-nav,
#testimonials .owl-dots {
  margin-top: 5px;
  text-align: left;
}

#testimonials .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ddd;
}

#testimonials .owl-dot.active {
  background-color: #007bff;
}


/* Team Section
--------------------------------*/

#team {
  background: #fff;
  padding: 60px 0;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
}

#team .member {
  text-align: center;
  margin-bottom: 20px;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
}

#team .member .member-info {
  opacity: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  transition: 0.2s;
}

#team .member .member-info-content {
  margin-top: 50px;
  transition: margin 0.2s;
}

#team .member:hover .member-info {
  background: rgba(0, 62, 128, 0.7);
  opacity: 1;
  transition: 0.4s;
}

#team .member:hover .member-info-content {
  margin-top: 0;
  transition: margin 0.4s;
}

#team .member h4 {
  font-weight: 700;
  margin-bottom: 2px;
  font-size: 18px;
  color: #fff;
}

#team .member span {
  font-style: italic;
  display: block;
  font-size: 13px;
  color: #fff;
}

#team .member .social {
  margin-top: 15px;
}

#team .member .social a {
  transition: none;
  color: #fff;
}

#team .member .social a:hover {
  color: #007bff;
}

#team .member .social i {
  font-size: 18px;
  margin: 0 2px;
}

/* Clients Section
--------------------------------*/

#clients {
  padding: 60px 0;
  box-shadow: inset 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
}

#clients .clients-wrap {
  border-top: 1px solid #d6eaff;
  border-left: 1px solid #d6eaff;
  margin-bottom: 30px;
}

#clients .client-logo {
  padding: 64px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-right: 1px solid #d6eaff;
  border-bottom: 1px solid #d6eaff;
  overflow: hidden;
  background: #fff;
  height: 160px;
}

#clients .client-logo:hover img {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

#clients img {
  transition: all 0.4s ease-in-out;
}

/* Contact Section
--------------------------------*/

#contact {
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
  padding: 60px 0;
  overflow: hidden;
}

#contact .section-header {
  padding-bottom: 30px;
}

#contact .contact-about h3 {
  font-size: 36px;
  margin: 0 0 10px 0;
  padding: 0;
  line-height: 1;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #007bff;
}

#contact .contact-about p {
  font-size: 14px;
  line-height: 24px;
  font-family: 'Poppins', sans-serif;
  color: #888;
}

#contact .social-links {
  padding-bottom: 20px;
}

#contact .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #fff;
  color: #007bff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
  border: 1px solid #007bff;
}

#contact .social-links a:hover {
  background: #007bff;
  color: #fff;
}

#contact .info {
  color: #283d50;
}

#contact .info i {
  font-size: 32px;
  color: #007bff;
  float: left;
  line-height: 1;
}

#contact .info p {
  padding: 0 0 10px 36px;
  line-height: 28px;
  font-size: 14px;
}

#contact .form #sendmessage {
  color: #007bff;
  border: 1px solid #007bff;
  display: none;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#contact .form #errormessage {
  color: red;
  display: none;
  border: 1px solid red;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#contact .form #sendmessage.show,
#contact .form #errormessage.show,
#contact .form .show {
  display: block;
}

#contact .form .validation {
  color: red;
  display: none;
  margin: 0 0 20px;
  font-weight: 400;
  font-size: 13px;
}

#contact .form input,
#contact .form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

#contact .form button[type="submit"] {
  background: #007bff;
  border: 0;
  border-radius: 20px;
  padding: 8px 30px;
  color: #fff;
  transition: 0.3s;
}

#contact .form button[type="submit"]:hover {
  background: #0067d5;
  cursor: pointer;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

#footer {
  background: #212121;
  padding: 0 0 30px 0;
  color: #eee;
  font-size: 14px;
}

#footer .footer-top {
  background: #171616;
  padding: 60px 0 30px 0;
}

#footer .footer-top .footer-info {
  margin-bottom: 30px;
}

#footer .footer-top .footer-info h3 {
  font-size: 34px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-family: 'Poppins', sans-serif;
  color: #fff;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
}

#footer .footer-top .footer-info p {
  font-size: 13px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: 'Poppins', sans-serif;
  color: #ecf5ff;
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #1FB742;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: #1FDD4B;
  color: #fff;
}

#footer .footer-top h4 {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 10px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul li {
  padding: 8px 0;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #ecf5ff;
}

#footer .footer-top .footer-links ul a:hover {
  color: #74b5fc;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact p {
  line-height: 26px;
}

#footer .footer-top .footer-newsletter {
  margin-bottom: 30px;
}

#footer .footer-top .footer-newsletter input[type="email"] {
  border: 0;
  padding: 6px 8px;
  width: 65%;
}

#footer .footer-top .footer-newsletter input[type="submit"] {
  background: #007bff;
  border: 0;
  width: 35%;
  padding: 6px 0;
  text-align: center;
  color: #fff;
  transition: 0.3s;
  cursor: pointer;
}

#footer .footer-top .footer-newsletter input[type="submit"]:hover {
  background: #0062cc;
}

#footer .copyright {
  text-align: center;
  padding-top: 30px;
}

#footer .credits {
  text-align: center;
  font-size: 13px;
  color: #f1f7ff;
}

#footer .credits a {
  color: #bfddfe;
}

#footer .credits a:hover {
  color: #f1f7ff;
}

/*--------------------------------------------------------------
# Responsive Media Queries
--------------------------------------------------------------*/

@media (min-width: 992px) {
  #testimonials .testimonial-item p {
    width: 80%;
  }
  #curso-recomendado {
    height: 50px;
  }
 
}

@media (max-width: 991px) {
  #header {
    height: 60px;
    padding: 10px 0;
  }

  #header .logo h1 {
    font-size: 28px;
    padding: 8px 0;
  }

  #intro {
    padding: 140px 0 60px 0;
  }

  #intro-curso {
    padding: 140px 0 60px 0;
  }

  #intro .intro-img {
    width: 80%;
    float: none;
    margin: 0 auto 25px auto;
  }
  #intro-curso .intro-img {
    width: 80%;
    float: none;
    margin: 0 auto 25px auto;
  }

  #intro .intro-info {
    width: 80%;
    float: none;
    margin: auto;
    text-align: center;
  }

  #why-us .card {
    margin: 0;
  }
  #nuevos-cursos .carreras-cursos {
    margin-left: 25px;
  }
  #nuevos-cursos .next-curso {
    margin-bottom: 15px;
    width: 370px;
  }
  .video-player {
    width: 100%;

  }
  #curso-recomendado {
    height: 50px;
  }
}

@media (max-width: 768px) {
  .back-to-top {
    bottom: 15px;
  }
  #curso-recomendado {
    height: 50px;
  }
}

@media (max-width: 767px) {
  #intro .intro-info {
    width: 100%;
  }

  #intro .intro-info h2 {
    font-size: 34px;
    margin-bottom: 30px;
  }

  .section-header p {
    width: 100%;
  }

  #testimonials .testimonial-item {
    text-align: center;
  }

  #testimonials .testimonial-item .testimonial-img {
    float: none;
    margin: auto;
  }

  #testimonials .testimonial-item h3,
  #testimonials .testimonial-item h4,
  #testimonials .testimonial-item p {
    margin-left: 0;
  }
  #curso-recomendado {
    height: 50px;
  }
}

@media (max-width: 574px) {
  #intro {
    padding: 100px 0 20px 0;
  }

  #intro-curso {
    padding: 100px 0 20px 0;
  }
  .chat_curso {
    display: none;
  }
  .sponsor-premium { 
    padding-bottom: 200px;
    padding-top: 0.5px; 
  }
  #curso-recomendado {
    height: 50px;
  }
  
}
.curso_title {
  width: auto;
  height: 120px;
  background: #050D32;
}
.curso_title label {
  margin-top: 50px;
  color: white;
  font-size: 20px;
  font-family: 'helvetica';
  font-weight: bold;

}
.curso_title label img {
  width: 50px;
  border-radius: 50%;
  margin-right: 5px;
  }
#list_video {

  height: auto;
  background-color: black;
}

.header-title h1{
  font-size: 35px;
  font-weight: bold;
  text-align: center;
}
.header-title p {
    font-size: 15px;
    text-align: center;
}
.freemium-title h1{
  font-size: 15px;
    text-align: center;
}
.metodos-pagos {
    width: 800px;
    height: 50px;
    background: white; 
    margin: auto;   
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.metodos-pagos span {
    font-size: 12px;
}
.metodos-pagos img {
    width: 100px;
    float: center;
}
.metodos-pagos-new h1 {
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    color: white;
}
.metodos-pagos-new p {
    font-size: 15px;
    text-align: center;
    color: white;
}
.metodos-pagos-new img {
    width: 150px;

}
.bg-default {
  background-color: #172b4d !important;
}
.overflow-hidde {
  overflow: hidden !important;
}
.pb-7, .py-7 {
  padding-bottom: 6rem !important;
}
.pt-6, .py-6 {
  padding-top: 4.5rem !important;
}
svg {
overflow: hidden;
vertical-align: middle;
}
.fill-default {
  fill: #172b4d;
}
.metodo-contacto h1 {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}
.metodo-contacto img {
  width: 70px;
  border-radius: 20px;

}
.agenda-proximos {
  width: 800px;
    height: 50px;
    background: white; 
    margin: auto;   
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.agenda-proximos img {
  width: 50px;
  margin-left: 50px;
  border-radius: 50%;
  margin-top:3px;
}
.agenda-proximos span {
  font-weight: bold;
}
.agenda-proximos h1 {
  font-size: 15px;
  float: right;
}
.header-cursos-2 h1 {
  font-size: 30px;
  margin-left: 245px;
  font-weight: bold;
}

#video-station .teacher-description h1 {
  position: relative;
  font-weight: bold;
  font-size: 24px;
}
#video-station .about-curso h2 {
  font-weight: bold;
}
#video-station .teacher-profile img{ 
  border-radius: 50%;
  width: 50px;
  position: absolute;
}
#video-station .teacher-profile h2 {
  padding-left: 70px;
  font-size: 20px;
  
}
.name-curso {
  width: 100%;
  height: 50px;
  background: #2a3b47;
  box-shadow: 0 0.5rem 1rem -0.9rem black;
}
.name-curso h1 {
  font-size: 25px;
  color: white;
  padding-top: 13px;
  text-align: center;
}
.name-curso img {
  display: none;
}
#video-livestream .video-stream {
  width: 820px;
  height: 480px;
  margin-left: 20px;
}
#video-livestream .chat-stream {
  background: #22303a;
  width: 400px;
  height: 478px;
  float: right;
  position: relative;
  margin-right: 15px;
  border-radius: 5px;
  overflow:scroll;
}
#video-livestream .chat-title {
  width: 100%;
  height: 50px;
}
#video-livestream .chat-title h1 {
  font-size: 30px;
  color: white;
  font-family:  sans-serif;
  text-align: center;
  padding-top: 5px;
}

#video-livestream .write-chat h1 {
  font-size: 15px;
  text-align: center;
  padding-top: 12px;
  color: white;
}
#video-livestream .description-live h1{
  font-size: 25px;
  color: black;
  font-family: Helvetica;
  margin-left: 20px;
  font-weight: bold;
}
#video-livestream .description-live span {
  color: red;
}
#video-livestream .description-live h2 {
  font-size: 20px;
  font-family: sans-serif;
  float: left;
  padding-right: 20px;
}
#video-livestream .description-live a{
  margin-left: 20px;
}
#video-livestream .description-live img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  float: left;
  margin-left: 20px;
}
@media screen and (max-width:768px) and (min-width:340px) {
  .agenda-proximos {
    width: 85%;
    height: 120px;
    text-align: center;
  }
  .header-cursos-2 h1 {
    text-align: left;
  }

  #video-livestream .chat-stream {
    margin-top: 106%;
    width: 89%;
  }

  #video-livestream .video-stream {
    position: absolute;
    width: 100%;
    margin-right: 100%;
    margin: 0 auto;
  }

  #video-livestream .video-stream iframe  {
    width: 95%;
    height: 280px;
    margin-bottom: 300px;
    margin-right: 100px;
  }

  #video-livestream .video-stream video {
    width: 95%;
    height: 280px;
    margin-bottom: 300px;
    margin-left: 10px;
    position: absolute;
  }

  #video-livestream .description-live h1 {
    margin-top: 300px;
    font-size: 20px;
    position: absolute;
    width: 100%;
    margin-right: auto;
  }

  #video-livestream .description-live a {
    margin-top: 320px;
    font-size: 15px;
    position: absolute;
    width: 100%;
    margin-right: auto;
  }
  .no-date-curso {
    width: 10px;
    text-align: center;
  }
  #curso-recomendado {
    height: 50px;
  }
  #video-livestream .description-live h1 {
    font-size: 18px;
  }
}

#proximo-curso {
  width: 100%;
  height: 350px;
  color: blue;
 
  background: url('https://www.veracode.com/sites/default/files/styles/blog_post_resize_960/public/developer-guide-blog-2.png?itok=uyhlUkTW') black;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  /*
  background: #1a252d;
  */
}
#proximo-curso .nombre-curso {
  margin-bottom: 40px; 
}
#proximo-curso .nombre-curso header {
  font-size: 15px;
  font-weight: bold;
  color: white;
  margin-left: 40px;
}
#proximo-curso .nombre-curso h1{
  
  font-size: 30px;
  font-weight: bold;
  margin-left: 40px;
  color: white;
}
#proximo-curso .nombre-curso p {
  color: white;
  margin-left: 40px;
}
#proximo-curso .nombre-curso span {
  margin-left: 45px;
  color: white;
}
#proximo-curso .nombre-curso img {
  width: 50px;
  height: 50px;

}
#proximo-curso .level-curso h1{
  font-size: 20px;
  color: white;
  margin-left: 40px;
}
#proximo-curso .dead-line {
  position: absolute;
  margin-left: 75%;
  margin-top: 4%;
  color: white;
}
#proximo-curso .dead-line h1 {
  font-size: 25px;
}
#proximo-curso .dead-line span {
  font-size: 30px;
  font-weight: bold;
  font-family: helvetica, italic;
}
#proximo-curso .dead-line img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-bottom: 10px;
}
#proximo-curso .conocimiento-curso h2{
  font-size: 12px;
}
.no-date-curso {
  width: 350px;
  height: 220px;
  background:   #f0eceb  ;
  border-radius: 5%;
}
.no-date-curso h1 {
  font-size: 20px;
  padding-top: 55px;
  font-weight: bold;
}
#team-section .header-team {
  width: 100%;
  height: 300px;
  background: #106B25;
}
#team-section .header-team h1 {
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 40px;
  padding-top: 78px;
}
#team-section .header-team p {
  font-size: 18px;
  color: white;
  text-align: center;
}
#team-section .team-eddukate h1{
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}
#team-section .team-eddukate-img img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 50px; 
  margin-left: 250px;
}
#social-networks .header-social-networks h1 {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}
#empresas .header-empresas {
  background: #004289;
  width: 100%;
  padding: 100px 0 70px 0;
  position: absolute;
  background: url('https://www.ecestaticos.com/imagestatic/clipping/078/2b1/0782b1d990c489e89806e6c3f4be8266/espana-busca-programadores-hay-300-000-pero-faltan-muchos-mas.jpg?mtime=1500573575');
}
#empresas .header-empresas h1 {
  text-align: center;
  color: white;
  font-size: 50px;
  font-weight: bold;
}
#empresas .header-empresas p {
  text-align: center;
  color: white;
}
#empresas .header-empresas span {
  color: #00dc71;
}
#empresas .header-cotiza h1{
  font-weight: bold;
  text-align: center;
  font-size: 30px;
  padding-top: 380px;
}
#empresas .section1 img{
  width: 50%;
  height: 50%;
}
#empresas .section1-txt h1 {
  margin-left: 45%;
  font-size: 20px;
  position: absolute;
  
  width: 40%;
}
#work h1 {
    font-size: 20px;
}
#curso-recomendado {
  width: auto;
  height: 40px;
  background:#212529;
}
#nombre-curso h1 {
  font-size: 20px;
  color: white;
  text-align: center;
  padding-top: 10px;
}
#nombre-curso span {
  color: #00CBFF;
}
#title-servicos h1 {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}
#servicios-temas {
  width: 300px;
  height: 350px;
  background: black;
  margin-left: 10%;
  border-radius: 5%;
}
#servicios-temas-description {
  position: relative;
  float: right;
  margin-left: 37%;
}
#parrafo {
  width: 60%;
}
.img-services-1 img {
    width: 100px;
    height: 100px;
    margin-bottom: 100%;
    position: relative;
}
#ads h1{
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}
#clases {
  width: 90%;
  height: 80%;
  background: #2a3b47;
  margin: auto;
  margin-top: 5%;
  overflow:scroll;
  border-radius: 2%;
}

#clases li {
  margin-top: 10%;
  font-size: 20px;
}

#titulo-clases {
  width: auto;
  height: 30px;
  background: #3c5567;
}
#titulo-clases h1 {
  font-size: 20px;
  color: #ffba42;
  padding-top: 2px;
}